/* styles for shell, should be only global, no plug-in related
*/
body {
    font-family: 'Lexend Tera', sans-serif;
}
.shell {
    background: seashell;
    width: 100%;
    border: 4px dotted aquamarine;
    padding: 1rem 1rem 1rem 1rem;
}

.hidden {
    display: none;
}